.carousel {
    &__inner {
        width: calc(100% - 60px);
        margin: 0 auto;
        position: relative;
        @media only screen and(min-width: 768px) {
            width: calc(100% - 80px);
        }
        @media only screen and(min-width: 992px) {
            width: calc(100% - 110px);
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        font-size: 1em;
        background: $blue;
        height: 60px;
        width: 100%;
        border-radius: 8px;
        transition: 0.3s ease;
        @media only screen and(min-width: 768px) {
            height: 65px;
            font-size: 1.125em;
        }
        @media only screen and(min-width: 992px) {
            height: 80px;
            font-size: 1.25em;
        }
        &:hover,
        &:focus {
            text-decoration: none;
            color: white;

        }
    }
    .owl-item {
        display: inline-block!important;
    }
    .owl-stage-outer {
        overflow: hidden;
     
    }
    .owl-prev,
    .owl-next {
        position: absolute;
        background: transparent;
        border: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        outline: none;
        img {
            width: 20px;
            @media only screen and(min-width: 768px) {
                width: 25px;
            }
            @media only screen and(min-width: 992px) {
                width: 30px;
            }
        }
    }
    .owl-prev {
        left: -35px;
        @media only screen and(min-width: 768px) {
            left: -45px;
        }
        @media only screen and(min-width: 992px) {
            left: -55px;
        }
    }
    .owl-next {
        right: -35px;
        transform: translateY(-50% ) rotate(180deg);
        @media only screen and(min-width: 768px) {
            right: -45px;
        }
        @media only screen and(min-width: 992px) {
            right: -55px;
        }
    }
}
